*~
*/.classpath
*/.project
*/.settings
*/targets
*/.gradle
server-original-data-store/source/core-plugins
server-application-server/source/core-plugins
server-application-server/sourceTest/hot-deployment
*/bin/*
**/.DS_Store
*$py.class
**/.pydevproject
**/.shredder
ivy-repository
**/.idea
*.iml
*.eml
.metadata
.recommenders